@import url("https://fonts.googleapis.com/css?family=Asul|Rubik:300,700,900|Space+Mono:400,700|Taviraj:300|Work+Sans:100,200,300,400");
@font-face {
  font-family: 'outrun-future';
  src: url("assets/outrun-future.ttf.woff") format("woff"), url("assets/outrun-future.ttf.svg#outrun-future") format("svg"), url("assets/outrun-future.ttf.eot"), url("assets/outrun-future.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 1em; }

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 6.854em; }

h2 {
  font-size: 4.236em; }

h3 {
  font-size: 2.618em; }

h4 {
  font-size: 1.618em; }

small, .font_small {
  font-size: 0.618em; }

/* Coolors Exported Palette - coolors.co/03256c-086788-8f31b8-314cb6-5b0254 */
/* RGB */
html, body {
  margin: 0;
  padding: 0; }

.splash {
  cursor: pointer;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(assets/outrun.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 46%; }
  .splash h1 {
    margin-top: -4rem;
    cursor: pointer;
    margin: 0;
    font-family: 'outrun-future';
    position: relative;
    text-shadow: 5px 5px 1px black;
    color: #e424c1;
    letter-spacing: 4px;
    transform: rotateZ(-4deg);
    padding: 0 1rem;
    line-height: 1.5; }
  .splash span {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    color: #0049ab;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 0, 0, 0)));
    z-index: 2;
    padding: 0 0.2rem; }

/* Coolors Exported Palette - coolors.co/03256c-086788-8f31b8-314cb6-5b0254 */
/* RGB */
.chapter {
  padding: 1.414em 10rem 2.414rem 10rem;
  position: relative; }
  .chapter h3 {
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px; }
  .chapter h4 {
    font-weight: 400;
    font-family: 'Space Mono', sans-serif; }
  .chapter p {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif; }
  .chapter li {
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
    color: #fdfdfd;
    list-style: none;
    margin-bottom: .25rem;
    max-width: 65%;
    margin-left: auto; }

.chapter-1 {
  background-color: #8f31b8;
  text-align: right; }
  .chapter-1 h3 {
    color: #ffcbe4; }
  .chapter-1 p {
    color: #fdfdfd;
    max-width: 65%;
    margin-left: auto; }
  .chapter-1 .margaret {
    position: absolute;
    left: 15%;
    top: 20%;
    height: 400px;
    transform: rotateY(180deg); }

.chapter-2 {
  overflow-x: hidden;
  background-color: #314cb6;
  text-align: left; }
  .chapter-2 h3 {
    color: #ffcbe4; }
  .chapter-2 p {
    color: #fdfdfd;
    max-width: 65%; }
  .chapter-2 .books {
    position: absolute;
    top: 25%;
    right: 5%;
    height: 300px; }

.chapter-3 {
  background-color: #086788;
  text-align: right; }
  .chapter-3 h3 {
    color: #ffcbe4; }
  .chapter-3 h4 {
    color: #fffcc6;
    text-align: left;
    max-width: 65%;
    margin-left: auto; }
  .chapter-3 p {
    color: #fdfdfd;
    max-width: 65%;
    margin-left: auto; }
  .chapter-3 .globe {
    position: absolute;
    left: 5%;
    top: 20%;
    height: 500px;
    transform: rotateY(180deg); }
