@import "palette";
@import "_flexbox";

.chapter {
  padding: 1.414em 10rem 2.414rem 10rem;
  position: relative;
  overflow-x: hidden;

  @media only screen and (max-width: 768px) {
    padding: 1.414em 1rem 2.414rem 1rem;
  }

  h3 {
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
  }
  h4 {
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
  }
  p {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
  }
  li {
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
    color: #fdfdfd;
    list-style: none;
    margin-bottom: .25rem;
  }

  .image {
    transform: rotateY(180deg);
    float: left;
    height: 100%;
    width: 40%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    img {
      max-width: 100%;
      max-height: 100%;
    }

    @media only screen and (max-width: 768px) {
      float: none;
      height: 100px;
      width: 100%;
      margin-bottom: -40px;
    }
  }

  .image--no-rotate {
    transform: none;
  }

  .u-only-desktop {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .u-only-mobile {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .content {
    float: left;
    width: 60%;

    @media only screen and (max-width: 768px) {
      float: none;
      width: 100%;
    }


    h3 { color: #ffcbe4; }
    p {
      color: #fdfdfd;
    }
  }
}

.chapter-1 {
  background-color: $pink;
  text-align: right;
  overflow: hidden;

  @media (max-width: 768px) {
    text-align: left;
  }
}

.chapter-2 {
  background-color: $lilac;
  text-align: left;

  h3 { color: #ffcbe4; }
  p {
    color: #fdfdfd;
  }

  @media (min-width: 768px) {
    .books {
      margin-top: 150px;
      margin-left: 100px;
    }
  }
}

.chapter-3 {
  background-color: $green;

  h3 { color: #d1fff9; }
  h4 {
    color: #fffcc6;
    text-align: left;
    margin-left: auto;
  }
  p {
    color: #fdfdfd;
  }

  @media (min-width: 768px) {
    text-align: right;

    .globe {
      margin-top: 200px;
      margin-left: 100px;
    }
  }
}

.chapter-4 {
  overflow-x: hidden;
  background-color: $magenta;
  text-align: left;

  h3 { color: #fff33b; }
  p {
    color: #fdfdfd;
  }
}
