@import "palette";

.chapter {
  padding: 1.414em 10rem 2.414rem 10rem;
  position: relative;

  h3 {
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
  }
  h4 {
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
  }
  p {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
  }
  li {
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
    color: #fdfdfd;
    list-style: none;
    margin-bottom: .25rem;
    max-width: 65%;
    margin-left: auto;
  }
}

.chapter-1 {
  background-color: $pink;
  text-align: right;

  h3 { color: #ffcbe4; }
  p {
    color: #fdfdfd;
    max-width: 65%;
    margin-left: auto;
  }

  .margaret {
    position: absolute;
    left: 15%;
    top: 20%;
    height: 400px;
    transform: rotateY(180deg);
  }
}

.chapter-2 {
  overflow-x: hidden;
  background-color: $lilac;
  text-align: left;

  h3 { color: #ffcbe4; }
  p {
    color: #fdfdfd;
    max-width: 65%;
  }

  .crowd {
    position: absolute;
    top: 20%;
    right: -5%;
    height: 50vh;
    -webkit-mask-image: -webkit-gradient(linear, right center, left center, from(rgba(255, 255, 255, 1)), to(rgba(255, 0, 0, 0)));
  }
}

.chapter-3 {
  background-color: $green;
  text-align: right;

  h3 { color: #ffcbe4; }
  h4 {
    color: #fffcc6;
    text-align: left;
    max-width: 65%;
    margin-left: auto;
  }
  p {
    color: #fdfdfd;
    max-width: 65%;
    margin-left: auto;
  }

  .globe {
    position: absolute;
    left: 5%;
    top: 20%;
    height: 500px;
    transform: rotateY(180deg);
  }
}
