/* Coolors Exported Palette - coolors.co/03256c-086788-8f31b8-314cb6-5b0254 */

/* RGB */
$blue: rgba(3, 37, 108, 1);
$green: rgba(8, 103, 136, 1);
$pink: rgba(143, 49, 184, 1);
$lilac: rgba(49, 76, 182, 1);
$magenta: rgba(91, 2, 84, 1);
